* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: "CaskaydiaCove Nerd Font", monospace;
        background: #000000;
        color: #E8D8FF;
        max-width: 680px;
        margin: 0 auto;
        padding: 3rem 1.5rem;
        line-height: 1.7;
}

a {
        color: #B58FFF;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.subtitle {
        color: #E8D8FF;
        margin-bottom: 2rem;
	font-size: 1.5rem;
}

section {
        padding: 12px;
        margin-bottom: 8px;
        border: 4px solid #B58FFF;
        border-radius: 16px;
}

section p {
        color: #E8D8FF;
}

body > div h1 {
  	font-size: 1.8rem;
	color: #E8D8FF;
}

h2 {
        font-size: 1.2rem;
        color: #E8D8FF;
        margin-bottom: 0.5rem;
}

ul {
        list-style: none;
        padding: 0;
}

li {
        margin-bottom: 0.4rem;
}

.webring {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        border: 4px solid #B58FFF;
        border-radius: 16px;
        margin-bottom: 0.5rem;
}

.webring a {
        font-size: 0.9rem;
}

.friend-card {
        border: 4px solid #B58FFF;
        border-radius: 16px;
	padding: 1rem;
        margin-top: 0.5rem;
}

hr {
        border: none;
        border-top: 1px solid #000000;
        margin: 2rem 0;
}

.tag {
        color: #E8D8FF;
        font-size: 0.85rem;
}

@media (max-width: 500px) {
        body {
        	padding: 1.5rem 1rem;
        }
        h1 {
          	font-size: 1.4rem;
          	text-color: #E8D8FF;
        }
        h2 {
          	font-size: 1rem;
        }
        .webring {
          	gap: 1rem;
          	font-size: 0.85rem;
        }
}

section ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
}

section ul li {
        margin-bottom: 0;
        flex: 1 1 calc(25% - 1rem);
        min-width: 0;
}

section ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        border: 4px solid #B58FFF;
        border-radius: 16px;
        text-decoration: none;
        transition: 0.3s;
        flex-direction: column;
        gap: 0.3rem;
        padding-top: 8px;
}

section ul li a:hover {
        background: #B58FFF;
	color: #000000;
}
