* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: "Monocraft", monospace;
	background: #212337;
        color: #ebfafa;
        line-height: 1.7;
}

.layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        align-items: start;
	margin-top: 16px;
}

.layout-right {
        padding-top: 126px;
}

.layout-left > * {
	margin-bottom: 16px;
}

.layout-right > * {
        margin-bottom: 16px;
}

a {
        color: #37F499;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.subtitle {
        color: #ebfafa;
        margin-bottom: 2rem;
	font-size: 1.5rem;
}

section {
        padding: 12px;
        margin-bottom: 8px;
        border: 4px solid #37F499;
        border-radius: 16px;
        margin-left: 0;
}

.layout-right section {
        margin-left: 0;
}

section p {
        color: #ebfafa;
}

body > div h1 {
  	font-size: 1.8rem;
	color: #ebfafa;
}

h2 {
        font-size: 1.2rem;
        color: #ebfafa;
        margin-bottom: 0.5rem;
}

ul {
        list-style: none;
        padding: 0;
}

li {
        margin-bottom: 0.4rem;
}

.webring {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0;
        border: 4px solid #37F499;
        border-radius: 16px;
        margin-bottom: 0.5rem;
}

.webring a {
        font-size: 0.9rem;
}

.friend-card {
        border: 4px solid #37F499;
        border-radius: 16px;
	padding: 1rem;
        margin-top: 0.5rem;
}

hr {
        border: none;
        border-top: 1px solid #16161e;
        margin: 2rem 0;
}

.tag {
        color: #ebfafa;
        font-size: 0.85rem;
}

@media (max-width: 700px) {
        .layout {
                grid-template-columns: 1fr;
        }
}

@media (max-width: 500px) {
        body {
        	padding: 1.5rem 1rem;
        }
        h1 {
          	font-size: 1.4rem;
        }
        h2 {
          	font-size: 1rem;
        }
        .webring {
          	gap: 1rem;
          	font-size: 0.85rem;
        }
}

section ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
}

section ul li {
        margin-bottom: 0;
        flex: 1 1 calc(25% - 1rem);
        min-width: 0;
}

section ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        border: 4px solid #37F499;
        border-radius: 16px;
        text-decoration: none;
        transition: 0.3s;
        flex-direction: column;
        gap: 0.3rem;
        padding-top: 8px;
}

section ul li a:hover {
        background: #37F499;
	color: #212337;
}
